@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: rgba(56, 65, 93, 0.82);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section-title {
  @apply text-xl font-bold text-[#3A4562] pb-2.5 border-b-[1px] border-b-[#3A4562]/[0.13];
}

.apply-btn {
  @apply py-[18px] px-[30px] bg-[#384564] text-white rounded-lg text-center;
}

/* .section-title {
  Apply No - py-[18px] px-[30px] bg-[#384564] text-white rounded-lg text-center hidden xl:inline-block ml-[89px] mb-[32px] 
             py-[18px] px-[30px] bg-[#384564] text-white rounded-lg text-center flex xl:inline mx-auto mb-[135px] xl:mb-[86px] xl:ml-[89px]

} */
